{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1 class="bg-orange-500 text-3xl h-2000  text-cyan-600">Home</h1>
    <p>Welcome to the home page</p>
    <p class="text-center text-cyan-800 bg-slate-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni eaque sequi, blanditiis autem accusamus, architecto accusantium aspernatur dolorem sapiente numquam voluptate doloribus atque ullam amet expedita labore ipsam. Aliquam, illo.</p>
{% endblock %}